body{
	background-color: #2f3e46; 
}

.card{
	/* padding-top: 50px; */
	background: #52796f;
	color: white;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.page-header{
	background: #52796f;
	height: 80px;
	text-align: center;
	padding-top: 15px;
}

.difficulty-selection
{
	background-color: lightgrey;
  text-align: center;
  
  margin-left: 5px;
  margin-right: 5px;
}

.difficulty-level
{
	background: #52796f;
	color: white;
	text-align: center;
	width: 300px;
	font-size: 20px;
	padding-top: 10px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	color: white;
}

.direction{
	color: white;
	text-align: center;
	padding-top: 40px;
	font-size: 20px;
}

.hello{
     text-align: center;
     font-size: 80px;
	 padding-top: 10px;
     color:white;
}

.form-group{
	padding-top: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	height: 50px;
	width:550px;
}

#message{
	padding-top: 10px;
	text-align: center;
	color: white;
}

#s{
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

#ct{
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

.col-md-6{
	border-width: 2.5px;
	border-style: solid;
	border-color: white;
}

.col-md-12{
	padding-top: 30px;
}